:root {
  --movie-star-width: 30px;
  --box-shadow-distance: 0.2rem;
}
body {
  padding: 1rem;
}

.movie__list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(750px, 1fr)); */
}

.movie__item {
  background-size: cover;
  min-height: 750px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  translate: 0.2s;
  box-shadow: var(--box-shadow-distance) var(--box-shadow-distance) 1rem black;
}

.movie__title {
  text-align: center;
  min-height: 3rem;
  font-family: 'Gabriela', serif;
  padding-top: var(--movie-star-width);
}


.movie__item {
  transform: scale(0.98);
  transition: 0.15s;
}

.movie__item:hover{
  transform: scale(1)
}

.movie__overview {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem
}

.movie__star {
  width: calc(5 * var(--movie-star-width));
  height: var(--movie-star-width);
  position: absolute;
  left: 0;
  top: var(--movie-star-width);
  background-size: var(--movie-star-width);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iMjQwIj4KPHBhdGggZmlsbD0iI0Y4RDY0RSIgZD0ibTQ4LDIzNCA3My0yMjYgNzMsMjI2LTE5Mi0xNDBoMjM4eiIvPgo8L3N2Zz4=);
}

.movie__star-wrapper  {
  width: calc(5 * var(--movie-star-width));
  margin: 0 auto;
  height: calc(2 * var(--movie-star-width));
  position: relative;
}

.movie__star:first-child {
  filter: grayscale(1)
}

.movie__title,
.movie__overview {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 6%,rgba(255,255,255,0.85) 94%,rgba(255,255,255,0) 100%);
  padding: 2.5rem 2rem;
  clip-path: polygon(0 1rem, 100% 0%, 100% calc(100% - 1rem), 0% 100%);
}